.job-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    padding: 36px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px #eee;
}

.page-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 400px;
    padding: 36px;
}