/* leaflet-overrides.css */

.leaflet-container img {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container .leaflet-tile {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  display: block !important;

  width: 256px !important;
  height: 256px !important;
}

.leaflet-container {
  position: relative !important;
  overflow: hidden !important;
}

/* Force the map container to be a real boy (tall) */
#map.leaflet-container {
  display: block !important;
  height: 480px !important;     /* or 500px if you want taller */
  min-height: 480px !important;
}